<div class='header'>
<input type="text" data-ng-model='event.name' placeholder='Event Name'/>
</div>
<div class='property'>
  <p> <label for="eventbegin">Event begin</label> </p>
  <input data-ng-model="event.times.begin" type="datetime-local" id="eventbegin">
</div>
<div class='property'>
  <p><label for="eventend">Event end</label></p>
  <input data-ng-model="event.times.end" type="datetime-local" id="eventend">
</div>
<div class='property'>
  <p><label for="eventname">Eventname</label></p>
  <input data-ng-model="event.name" type="text" id="eventname">
</div>
<div class='property'>
  <p><label  for="description">Description</label></p>
  <textarea data-ng-model="event.description" id="description"></textarea>
</div>
<div class='property'>
  <p><label for="targetGroup">Target Group</label></p>
  <input  data-ng-model="event.targetGroup" type="text" id="targetGroup">
</div>
<div class='property'>
  <p><label  for="locationname">Location name</label></p>
  <input  data-ng-model="event.location.name" type="text" id="locationname">
</div>
<div class='property'>
  <p><label for="locationstreet">Location street</label></p>
  <input data-ng-model="event.location.street" type="text" id="locationstreet">
</div>
<div class='property'>
  <p><label for="locationplz">Location plz</label></p>
  <input data-ng-model="event.location.zipCode" type="text" id="locationplz">
</div>
<div class='property'>
  <p><label for="locationcity">Location city</label></p>
  <input data-ng-model="event.location.city" type="text" id="locationcity">
</div>
<div class='header'>
  <button type="button" data-ng-click="saveEvent()">{{saveText}}</button>
</div>

