<div class='header'>
  <h2>{{guest.name || 'Guest'}}</h2>
</div>
<div class='property'>
  <p><label for="name">Name</label></p>
  <input data-ng-model="guest.name" type="text" id="name"></br>
</div>
<div class='property'>
  <p><label for="name">Contribution</label></p>
  <input data-ng-model="guest.contribution" type="text" id="name"></br>
</div>
<div class='property'>
  <p><label for="name">Comment</label></p>
  <input data-ng-model="guest.comment" type="text" id="name"></br>
</div>
<div class='header'>
  <button type="button" ng-click="saveGuest()">{{saveText}}</button>
</div>

