<div class='header'>
  <h2>{{event.name}} ({{guests.length}} guests)</h2>
  <a href="#/events/{{event.id}}/edit">Edit event</a>
</div>
<div class='property'>
  <p class='date'>{{event.times.begin | date: medium }} - {{event.times.end | date:medium}}</p>
</div>
<div class='property'>
  <p>Description</p>
  <p>{{event.description || 'none'}}</p>
</div>
<div class='property'>
  <p>Target group</p>
  <p>{{event.targetGroup || 'none'}}</p>
</div>
<div class='property'>
  <p>Contribution description</p>
  <p>{{event.contributionsDescription || 'none'}}</p>
</div>
<div class='property'>
  <p>Location</p>
  <p>{{event.location.name}}</p>
  <p>{{event.location.street}}</p>
  <p>{{event.location.zipCode}} {{event.location.city}}</p>
</div>
<div class='header'>
  <h3>Guests</h3>
  <a href="#/events/{{event.id}}/guests">Add new guest</a>
</div>
<ul class='guests'>
    <li data-ng-repeat="guest in guests">
      <p>
        <span>{{guest.name}}</span>
        <a href="#/events/{{event.id}}/guests/{{guest.id}}/edit">Edit</a>
      </p>
      <p>Comment: {{guest.comment || 'none'}}</p>
      <p>Contribution: {{guest.contribution || 'none'}}</p>
    </li>
</ul>
